<footer class="footer">
    <div class="red__footer">
        <div class="email">
            <div class="email__image">
                <img src="/images/mail.png" alt="email icon">
            </div>
            <div class="email__text">
                <h2>EMAIL SUPPORT</h2>
                <p>help@Shopit.com</p>
            </div>
        </div>

        <div class="email">
            <div class="email__image">
                <img src="/images/telephone.png" alt="telephone icon">
            </div>
            <div class="email__text">
                <h2>PHONE SUPPORT</h2>
                <p>+2348107601601</p>
            </div>
        </div>

        <div class="email">
            <div class="email__image">
                <img src="/images/whatsapp.png" alt="whatsapp icon">
            </div>
            <div class="email__text">
                <h2>WHATSAPP</h2>
                <p>555-555-555</p>
            </div>
        </div>

        <div class="email">
            <div class="email__text">
                <h2>GET LATEST DEALS</h2>
                <p>Our best promotions sent to your inbox</p>
            </div>
        </div>

        <div class="email__address">
            <input type="text" placeholder="Email Address">
            <div class="subscribe">
                <p>Subscribe</p>
            </div>
        </div>
    </div>
    <div class="dark__footer">
        <div class="footer__one">
            <div class="footer__card">
                <h2>ABOUT SHOPIT</h2>
                <ul class="footer__list">
                    <li>Contact  Us</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Our Blog</li>
                    <li>Forum</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>

            <div class="footer__card">
                <h2>PAYMENTS</h2>
                <ul class="footer__list">
                    <li>ShopitPay</li>
                    <li>Wallet</li>
                    <li>Verve</li>
                    <li>Verve</li>
                    <li>Visa</li>
                </ul>
            </div>

            <div class="footer__card">
                <h2>BUYING ON SHOPIT</h2>
                <ul class="footer__list">
                    <li>Buyer’s Safety Centre</li>
                    <li>FAQs</li>
                    <li>Delivery</li>
                    <li>Shopit Return Policy</li>
                    <li>Digital Services</li>
                    <li>Bulk Purchase</li>
                </ul>
            </div>

            <div class="footer__card">
                <h2>MORE INFO</h2>
                <ul class="footer__list">
                    <li>Site Map</li>
                    <li>Track My Order</li>
                    <li>Privacy Policy</li>
                    <li>Authentic Items Policy</li>
                </ul>
            </div>
        </div>
        <div class="footer__two">
            <div class="footer__download">
                <h2>DOWNLOAD OUR SHOPIT VIA</h2>
                <div class="footer__download__btn">
                    <a href="#" class="control__btn">
                        <img src="/images/apple-icon.png" alt="apple icon">
                        <div class="apple__text">
                            <p>Download on the</p>
                            <h2>App Store</h2>
                        </div>
                    </a>
                    
                     <a href="#" class="control__btn">
                        <img src="/images/google-icon.png" alt="google icon">
                        <div class="apple__text">
                            <p>GET IT ON</p>
                            <h2>Google Play</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer__download">
                <h2>CONNECT WITH US</h2>
                <div class="social__media">
                    <a href="#" class="medias">
                        <img src="/images/twitter.png" alt="X icon">
                    </a>
                    
                     <a href="#" class="medias">
                        <img src="/images/telegram.png" alt="telegram icon">
                    </a>

                    <a href="#" class="medias">
                        <img src="/images/insta.png" alt="instagram icon">
                    </a>

                    <a href="#" class="medias">
                        <img src="/images/facebook.png" alt="facebook icon">
                    </a>

                    <a href="#" class="medias">
                        <img src="/images/youtube.png" alt="youtube icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>