<div class="copyright__footer">
    <p>&copy; 2025. All Right Reserved - </p>
    <div class="copyright__logo">
        <img src="/images/shop-bag.png" alt="shopping bag">
        <p>Shopit</p>
    </div>
</div>