<header id="header">
    <div class="logo__brand">
        <img src="/images/shop-bag.png" alt="" class="logo">
        <p class="logo__name">Shop-It</p>
    </div>
    <nav class="nav__links">
        <ul class="list">
            <li class="nav__item dropdown">
                    <p>Categories</p>
                    <img src="/images/arrow-down.png" alt="" class="arrow__icon" id="arrowDown">
                    <div class="dropdown__content">
                        <h2>Popular Categories</h2>
                        <div class="dropdown__subcontent">
                            <div class="drop__one">
                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="drop__one">
                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>

                                <div class="dropdown__item">
                                    <img src="/images/chair.png" alt="chair">
                                    <div class="dropdown__title">
                                        <p class="title">Furniture</p>
                                        <p class="desc">200 items Available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    Deals
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    What’s New
                </a>
            </li>
             <li class="nav__item">
                <a href="#" class="nav__link">
                    Delivery
                </a>
            </li>
        </ul>
    </nav>
    <div class="search__bar">
        <img src="/images/search-scope.png" alt="search bar" class="search__icon">
        <p class="search__title">Search product</p>
            <div class="search__content">
                <div class="search__item">
                    <div class="search__dropdown">
                        <img src="/images/chair.png" alt="chair">
                        <p class="name">Airpod</p>
                        <div class="search__stars">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/empty-star.png" alt="empty star">
                        </div>
                        <p class="rating__number">122</p>
                    </div>
                    <p class="price">$65</p>
                </div>

                <div class="search__item">
                    <div class="search__dropdown">
                        <img src="/images/chair.png" alt="chair">
                        <p class="name">Airpod</p>
                        <div class="search__stars">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/empty-star.png" alt="empty star">
                        </div>
                        <p class="rating__number">122</p>
                    </div>
                    <p class="price">$65</p>
                </div>

                <div class="search__item">
                    <div class="search__dropdown">
                        <img src="/images/chair.png" alt="chair">
                        <p class="name">Airpod</p>
                        <div class="search__stars">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/empty-star.png" alt="empty star">
                        </div>
                        <p class="rating__number">122</p>
                    </div>
                    <p class="price">$65</p>
                </div>

                <div class="search__item">
                    <div class="search__dropdown">
                        <img src="/images/chair.png" alt="chair">
                        <p class="name">Airpod</p>
                        <div class="search__stars">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/empty-star.png" alt="empty star">
                        </div>
                        <p class="rating__number">122</p>
                    </div>
                    <p class="price">$65</p>
                </div>

                <div class="search__item">
                    <div class="search__dropdown">
                        <img src="/images/chair.png" alt="chair">
                        <p class="name">Airpod</p>
                        <div class="search__stars">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/star.png" alt="full star">
                            <img src="/images/empty-star.png" alt="empty star">
                        </div>
                        <p class="rating__number">122</p>
                    </div>
                    <p class="price">$65</p>
                </div>
            </div>
    </div>
    <div class="profile__item">
        <div class="account">
            <img src="/images/one.png" alt="user" class="account__user">
            <p class="account__title">Account</p>
        </div>
        <div class="cart">
            <img src="/images/shopping-cart.png" alt="shopping cart" class="cart__icon">
            <p class="cart__title">Cart</p>
        </div>
    </div>
    <div class="menu">
        <img src="/images/hamburger-menu.png" alt="hamburger menu" class="open__menu">
    </div>
</header>
