<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="<%= path === '/' ? 'active' : ''  %>">Shop</a></li>
            <li><a href="/shop/product-detail" class="<%= path === '/shop/product-detail' ? 'active' : ''  %>">Shop</a></li>
            <li><a href="/shop/product-list" class="<%= path === '/shop/product-list' ? 'active' : ''  %>">Shop</a></li>
        </ul>
    </nav>
</body>
</html>