<section class="hero">
    <div class="hero__subsection">
        <div class="hero__text">
            <h1 class="hero__mainTitle">Enjoy <span>Online Shopping</span> at it’s Best on Shopit</h1>
            <p class="hero__subTitle">Time and Cost Efficiency: Online shopping saves time and effort. 
                By eliminating the need for travel and parking, it minimizes 
                transportation costs and the associated time commitments.
            </p>
            <a href="#" class="hero__btn">Learn more</a>
        </div>
        <img src="/images/hero-image-two.png" alt="" class="hero__img">
    </div>
   
        <img src="/images/orange-rect.png" alt="" class="hero__bot__img">
   
</section>