<section class="purchase__section">
    <div class="purchase__subsectOne">
        <h2>Most purchased Items on Shopit</h2>
        <div class="purchase__cards">
            <div class="purchase__card purchaseOne">
                <p>Furniture</p>
                <img src="/images/chair.png" alt="chair">
            </div>
            <!-- <div class="purchase__card purchaseTwo">
                <p>Shoes</p>
                <img src="/images/shoe.png" alt="chair">
            </div>
            <div class="purchase__card purchaseThree">
                <p>Bags</p>
                <img src="/images/bags.png" alt="chair">
            </div>
            <div class="purchase__card purchaseFour">
                <p>Refridgerator</p>
                <img src="/images/fridge.png" alt="chair">
            </div>
            <div class="purchase__card purchaseFive">
                <p>Books</p>
                <img src="/images/books.png" alt="chair">
            </div>
            <div class="purchase__card purchaseSix">
                <p>Tech</p>
                <img src="/images/system.png" alt="chair">
            </div> -->
        </div>
    </div>
    <div class="purchase__subsectionTwo">
        <div class="purchase__subOne">
            <div class="purchase__text">
                <h2>Get up-to 30% Off for All Smart Tvs</h2>
                <a href="#" class="hero__btn">Shop more</a>
            </div>
            <img src="/images/offer-image.png" alt="television" class="purchase__tv">
        </div>
        <div class="purchase__subTwo">
            <p>Discount up to $100 on your purchases</p>
        </div>
    </div>
</section>