<section class="salesOne">
    <div class="sales__one">
        <div class="catalog">
            <div class="pill">
                <p>Smart Tv Type</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Price</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Reviews</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Color</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Materials</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Offer</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <img src="/images/filter.png" alt="">
                <p>Filters</p>
            </div>
        </div>
        <div class="sortBy">
            <div class="pill">
                <p>Sort By</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
        </div>
    </div>
    <div class="sales__two">
        <div class="sales__two__text">
            <h2>Smart Gadgets and Appliances Specially for You!!!</h2>
            <a href="#">See All</a>
        </div>
        <div class="gadget__boxs">
            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/iphone.png" alt="iphone" class="iphone__gadget">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Iphone 13pro max</h3>
                    <p>The iPhone is a smartphone made by Apple that combines a computer, 
                        iPod, digital camera and cellular phone into one device with a 
                        touchscreen interface.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/pova-phone.png" alt="iphone" class="iphone__gadget">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Techno Pova 4 Pro</h3>
                    <p>
                        An Android phone is a powerful, high-tech smartphone that runs on the Android 
                        operating system (OS) developed by Google and is used by a variety of mobile 
                        phone manufacturers.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/smart-watch.png" alt="iphone" class="iphone__gadget">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Apple Smart watches</h3>
                    <p>
                        It incorporates fitness tracking, health-oriented capabilities, 
                        and wireless telecommunication, and integrates with iOS and other 
                        Apple products and services.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/headset.png" alt="iphone" class="iphone__gadget headset">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Headset</h3>
                    <p>
                        A headset is a hardware device that connects to a telephone or computer, 
                        allowing the user to talk and listen while keeping their hands free ..
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/smart-tv.png" alt="iphone" class="iphone__gadget smart__tv">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Apple Laptops</h3>
                    <p>
                        It replaced the PowerBook and iBook brands during the Mac transition to Intel processors, 
                        announced in 2005.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/fridge-two.png" alt="iphone" class="iphone__gadget fridge">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Refrigerator</h3>
                    <p>
                        A refrigerator is an open system that dispels heat from a closed space to a warmer area, 
                        usually a kitchen or another room. By dispelling the heat from this area, it decreases 
                        in temperature, allowing food and other items to remain at a cool temperature.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/oven-set.png" alt="iphone" class="iphone__gadget oven__set">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Oven Set</h3>
                    <p>
                        Ovens are used as kitchen appliances for roasting and heating. 
                        Foods normally cooked in this manner include meat, casseroles 
                        and baked goods such as bread, cake and other desserts. In modern times, 
                        the oven is used to cook and heat food in many households around the globe.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/Microwave.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Microwave</h3>
                    <p>
                        A microwave is an electric oven that heats and cooks food by exposing it to 
                        electromagnetic radiation in the microwave frequency ...Cavity magnetron
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/washing-mach.png" alt="iphone" class="iphone__gadget washing__mach">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Washing Machine</h3>
                    <p>
                        A washing machine also know as a washer is a machine that washes dirty clothes. 
                        It contains a barrel into which the clothes are placed. This barrel is filled with water, 
                        and then rotated very quickly by the use of a motor to make the water remove dirt from 
                        the clothes.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/blender.png" alt="iphone" class="iphone__gadget blender">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Blenders & Juicers</h3>
                    <p>
                        A juicer will extract the juice from fruits and vegetables, 
                        separating them from the pulp by crushing, grinding or squeezing the liquid out, 
                        leaving behind just the thin juice without any of the fiber. 
                        Blenders don't separate your ingredients, instead they blend them 
                        together for a thicker consistency.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
    <div class="pagination">
        <div class="page">
            <p>1</p>
        </div>
        <div class="page">
            <p>2</p>
        </div>
        <div class="page">
            <p>3</p>
        </div>
    </div>
</section>

<section class="salesOne">
    <div class="sales__one">
        <div class="catalog">
            <div class="pill">
                <p>Smart Tv Type</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Price</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Reviews</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Color</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Materials</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <p>Offer</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
            <div class="pill">
                <img src="/images/filter.png" alt="">
                <p>Filters</p>
            </div>
        </div>
        <div class="sortBy">
            <div class="pill">
                <p>Sort By</p>
                <img src="/images/arrow-down.png" alt="">
            </div>
        </div>
    </div>
    <div class="sales__two">
        <div class="sales__two__text">
            <h2>Weekly Popular Sales</h2>
        </div>
        <div class="gadget__boxs__two">
            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/smart-tv-two.png" alt="iphone" class="iphone__gadget smart__tv__two">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Smart Tv</h3>
                    <p>
                        A smart TV, also known as a connected TV (CTV), is a traditional television 
                        set with integrated Internet and interactive Web 2.0 features, which allows ...
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/iPod.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>AirPods</h3>
                    <p>
                        AirPods contain a microphone that filters out background noise as well as built-in 
                        accelerometers and optica
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/smart-watch-two.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Apple Smart Watch</h3>
                    <p>
                        When you wear Apple Watch, you get a fitness partner, meaningful health insights, 
                        safety features, and a connection to what you care about most.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/headset-two.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Headset</h3>
                    <p>
                        Headsets connect over a telephone or to a computer, allowing the user to speak and listen 
                        while keeping both hands free.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/sound-system.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Sound System</h3>
                    <p>
                        f you're completely new to the world of home theater, 
                        an AV receiver receives audio and visual signals from 
                        multiple sources, then processes and amplifies those 
                        signals to drive the speakers and display (e.g. TV, monitor, projector).1
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/iron.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Pressing Iron</h3>
                    <p>
                        One of the most notable benefits of pedestal fans is their portability. 
                        This implies that, unlike ceiling or wall fans, pedestal fans can be 
                        moved from one room to another.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/deep-fryer.png" alt="iphone" class="iphone__gadget microwave">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Air Fryer</h3>
                    <p>
                       Air fryers use convection heat to cook foods so that they are browned and 
                       crispy on the outside but remain moist and tender on the inside. 
                       Cooking with an air fryer takes less time and makes less of a mess 
                       than deep frying or traditional oven roasting. Another plus is that air 
                       frying also uses minimal oil.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>

            <div class="gadget__box">
                <div class="first__gadgetBox">
                    <img src="/images/fan.png" alt="iphone" class="iphone__gadget fan">
                    <img src="/images/love.png" alt="love" class="love__gadget">
                </div>
                <div class="gadget__text">
                    <h3>Standing Fan</h3>
                    <p>
                        One of the most notable benefits of pedestal fans is their portability. 
                        This implies that, unlike ceiling or wall fans, pedestal fans can be 
                        moved from one room to another.
                    </p>
                    <div class="stars">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/star.png" alt="full star">
                        <img src="/images/empty-star.png" alt="empty star">
                    </div>
                    <div class="gadget__cart">
                        <h4>$8899</h4>
                        <a href="#">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
    <div class="pagination">
        <div class="page">
            <p>1</p>
        </div>
        <div class="page">
            <p>2</p>
        </div>
        <div class="page">
            <p>3</p>
        </div>
    </div>
</section>

<section class="salesOne">
    
    <div class="sales__two">
        <div class="sales__two__text">
            <h2>Services To Help You Shop</h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card__title">
                    <h3>Frequently Asked Questions</h3>
                    <p>Updates on how to shop safely on Our APP</p>
                </div>
                <img src="/images/mother-child.png" alt="mother and daughter">
            </div>

            <!-- <div class="card">
                <div class="card__title">
                    <h3>Online Payment Process</h3>
                    <p>Fast Online payments with fast Confirmation</p>
                </div>
                <img src="/images/online-payment.png" alt="online payment">
            </div>

            <div class="card">
                <div class="card__title">
                    <h3>Home Delivery Options</h3>
                    <p>We deliver items to your doorsteps with speed</p>
                </div>
                <img src="/images/door-delivery.png" alt="Home delivery">
            </div>

            <div class="card">
                <div class="card__title">
                    <h3>Add Items to Cart Easily</h3>
                    <p>Cart your purchased items without stress</p>
                </div>
                <img src="/images/online-delivery.png" alt="online delivery">
            </div> -->
        </div>
    </div> 
   
</section>